# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.local

# Editor/OS directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
Thumbs.db

# Dependencies
node_modules/

# Build and coverage
dist/
dist-ssr/
coverage/
coverage.json

# Hardhat
cache/
artifacts/
typechain/
typechain-types/

# Hardhat Ignition
ignition/deployments/chain-31337
